body {
    font-family: 'Jost', sans-serif;
}
ul {
    list-style: none;
    padding: 0;
}
h1, h2, h3, h4, h5 {
    font-weight: bold;
}
p {
    color: #112f5c;
    font-family: 'Roboto', sans-serif;
}

a {
    color: #112f5c;
    text-decoration: none;
}
a:hover {
    color: #b1c0c4;
}

.navbar-custom {
    background-color: #f0f4f6; 
    padding: 0; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.symbol {
    color: #f1d60c; 
}

.box {
    padding: 30px; 
    text-align: center; 
    background-color: #225572; 
}

.boxa {
    display: flex;          
    justify-content: center; 
    text-align: center;      
}
.boxb{
    font-size: 60px;
    color: white;
}
.boxc{
    color: #343a40; 
            margin-bottom: 0; 
            display: inline-block; 
            background-color: #396cba; 
            padding: 1rem 1rem; 
            border-radius: 30px; 
}
.button {
    background: #396cba;
    color: #fff!important;
    display: inline-block;
    transition: 0.3s;
    padding: 1.1rem 2rem;
    border-radius: 3px;
}
.button:hover {
    background: #125875;
    color:#fff!important;
}


.grid figure {
    position: relative;
    overflow: hidden;
    width: 100%;
    text-align: center;
    cursor: pointer;
}
figure.effects img {
    transition: opacity 0.35s, transform 0.35s;
    margin-bottom: 0%;
}

figure.effects:hover img {
    transform: scale3d(1.05, 1.05, 1);
}
.head1 {
            color: #396cba;
            margin-bottom: 0;
            font-size: 1em; 
        }
        .part1 {
        padding: 30px 0; 
        background: #032e3f; 
    }
.bg_light {
    background: #eff7ff;
}
hr {
    background-color: #f5e2de;
    opacity:1;
}
.font_8 {
    font-size: 8px;
}

.font_60 {
    font-size: 60px;
}
.font_50 {
    font-size: 50px;
    color: #112f5c;
}
.line {
    height: 2px!important;
    width: 70px;
    background-color: #396cba;
}
.p_3 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.navbar-brand {
    font-size: 40px;
}
#header .nav-link {
    color: #112f5c;
    padding: 22px 22px;
    font-weight: bold;
}
#header .nav-link:hover {
    color: #396cba;
}
#header .nav-link:focus {
    color: #396cba;
}
#header .active {
    color: #112f5c;
}
.drop_1 {
    min-width: 220px;
    padding: 0;
    margin-top: 1px!important;
    background: #fff;
    border-radius: 0;
    border: 1px solid #f5e2de;
    border-top: 4px solid #396cba;
}
.drop_1 a {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #f5e2de;
    color: #333;
    font-weight: bold;
}

.drop_1 a:hover {
    color: #396cba;
    background:none;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
    top: -40px;
    transform: translateY(40px);
    transition: transform .3s;
}

.login {
    color: #303233;
    background-color: #f1d60c;
    padding: 25px 25px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
}
.login:hover {
    color: #f1d60c;
    background-color: #112f5c;
}

#header .button {
    padding: 24px 22px;
}

  .footer_1i ul li a {
    background: #125875;
  }

  .footer_1i .hr_1 {
    background-color: #04455e;
  }

  .footer_1riril .icon-style {
    border-radius: 100%;
    text-align: center;
    background-color: #396cba;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    line-height: 35px;
  }

  .a {
    color: #a3bad4;
    text-decoration: none;
  }

  .b {
    color: #fff;
  }

  .aab {
    color: #fff;
    text-align: center;
  }

  #footer p,
  #footer h6 {
    font-size: 15px;
  }

  #footer_b {
    padding-top: 1rem;
    padding-bottom: 0.1rem;
    background-color: #396cba;
  }

  ul.social-icon {
    list-style: none;
    display: block;
    margin-left: 0 !important;
    padding: 0;
}

ul.social-icon li {
    display: inline-block;
}

.social-icon a {
    display: inline-block;
    position: relative;
    margin: 0 auto;
    border-radius: 50%;
    text-align: center;
    width: 40px;
    height: 40px;
    transition: background-color 0.3s, color 0.3s;
}

.social-icon a i {
    line-height: 40px;
    text-align: center;
    color: #fff;
    transition: color 0.8s, transform 0.2s;
}

.social-icon a:hover i {
    color: #fff;
}

.social-icon a.Facebook:hover {
    background-color: #3B5998;
}

.social-icon a.Google:hover {
    background-color: #BD3518;
}

.social-icon a.Linkedin:hover {
    background-color: #007bb7;
}


.social-icon a.Instagram:hover {
    background-color: #E1306C;
}

.social-icon a:hover i {
    transform: rotate(360deg);
}

  .group {
    color: #000; 
    font-weight: bold; 
  }
  .group:hover {
    color:#000;
}

.social-icon a:hover i {
    color: #fff;
}

.social-icon a.Facebook:hover {
    background-color: #3B5998;
}

.social-icon a.Google:hover {
    background-color: #BD3518;
}

.social-icon a.Linkedin:hover {
    background-color: #007bb7;
}


.social-icon a.Instagram:hover {
    background-color: #E1306C;
}

.social-icon a:hover i {
    transform: rotate(360deg);
}

  .group {
    color: #000; 
    font-weight: bold; 
  }
  .group:hover {
    color: #000; 
  }